{% extends "layout/base.html" %}

{% block tittle %}Homepage{% endblock tittle %}

{% block content %}
    {% if ventas %}
        <script>
            function navigate(id){
                alert('Hola Ivi')
                alert(id)
            }
        </script>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Nombre Medicamento</th>
                <th class="text-center"scope="col">Droga</th>
                <th class="text-center" scope="col">Obra Social</th>
                <th class="text-center" scope="col">Plan Social</th>
                <th class="text-center" scope="col">importe</th>
                <th class="text-center" scope="col">Fecha y hora</th>
                <th class="text-center"scope="col"></th>

            </tr>
            </thead>
            
            <tbody>
            {% for venta in ventas %}
                <tr>
                    <th class="text-center" scope="row" name="id">{{venta.id}}</th>
                    <td class="text-center">{{venta.nombreMedicamento}}</td>
                    <td class="text-center">{{venta.droga}}</td>
                    <td class="text-center">{{venta.obraSocial}}</td>
                    <td class="text-center">{{venta.plan}}</td>
                    <td class="text-center">{{venta.importe}}</td>
                    <td class="text-center">{{venta.fechaHoraVenta}}</td>
                    <td class="text-center">
                        <form action="modificar/{{venta.id}}" method="GET">
                            <button type="submit" class="btn btn-info">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil click" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                        </form>
                        <form action="eliminar/{{venta.id}}" method="GET">
                            <button type="submit" class="btn btn-danger">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash click" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ops!</h4>
        <p>No registra ventas hasta el momento</p>
        <hr>
        <p class="mb-0">Para cargar una venta precione en CREAR</p>
    </div>
    {% endif %}    
{% endblock content %}
